*{
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}


.container{
    width: 100%;
    height: 100vh;
    background-color: hsl(27, 66%, 92%);
    position: relative;
}
.head{
    width: 500px;
    height: 50px;
    background-color: hsl(10, 79%, 65%);
    margin: 100px 30%;
    position: absolute;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head .left h4{
 padding-bottom: 20px; 
 font-size: 18px; 
 font-weight: 100;
}
.head .left span{
    font-size: 18px;
    font-weight: bold;
}
.head .right{
    display: flex;
    flex-direction: columns;
    position: relative;
    
}

.head .right .dark{
    width: 30px;
    height: 30px;
    background-color: hsl(25, 47%, 15%);
    border-radius: 50%;
    top: 20px;
}
.head .right .light{
     width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top:0px;
    right: 15px;
}
.container .content{
    background-color: #fff;
    width: 540px;
    height: 400px;
    position: absolute;
    top: 200px;
    left: 410px;
    border-radius: 20px;
}
.container .content h2{
    margin-top: 10px;
    margin-left: 50px;
}
.container .days-container{
    display: grid;
    grid-template-columns: repeat(7,60px);
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 10px;
    column-gap: 5px;
    height: 200px;
}
.container .days-container .item{
    
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    font-size: 18px;
    color: hsl(28, 10%, 53%);
    margin-left: 5px;
    
    

}

/* .container .days-container .item span{
    
    border-radius: 5px;
    width: 80%;
    margin-left: 7px;
    margin-top: 5px;
} */
.container .days-container .item h6{
    margin-top: 5px;
    margin-left:30%;
    bottom: 10px;
}
.container .days-container .item .mon{
    height:50px ;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    background-color:hsl(10, 79%, 65%);
    
}
.container .days-container .item .tue{
    height:70px ;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    background-color:hsl(10, 79%, 65%);
}
.container .days-container .item .wed{
    height:110px ;
    border-radius: 5px;
    width: 100%;
    
    margin-top: 5px;
    background-color: hsl(186, 34%, 60%);
}
.container .days-container .item .thu{
    height:65px ;
    border-radius: 5px;
    width: 100%;
    
    margin-top: 5px;
    background-color: hsl(10, 79%, 65%);
}
.container .days-container .item .fri{
    height:55px ;
    border-radius: 5px;
    width: 100%;
    
    margin-top: 5px;
    background-color: hsl(10, 79%, 65%);
}
.container .days-container .item .sat{
    height:70px ;
    border-radius: 5px;
    width: 100%;
    
    margin-top: 5px;
    background-color: hsl(10, 79%, 65%);
}
.container .days-container .item .sun{
    height:60px ;
    border-radius: 5px;
    width: 100%;
    
    margin-top: 5px;
    background-color: hsl(10, 79%, 65%);
}
/* .container .days-container hr{
    width: 100%;
    height:3px solid hsl(192, 8%, 12%) ;
    position: absolute;
    top: 10px;
    
} */

.container .days-container::after{
    content: '';
    width: 80%;
    height: 2px;
    background-color: hsl(28, 10%, 53%);
    top: 260px;
    position: absolute;
}
.footer{
    position: absolute;
    top: 500px;
    left: 430px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.footer .left{
    display: flex;
    flex-direction: column;
}
.footer .left span{
    font-size: 26px;
    font-weight: 700;
    margin-top: 3px;
    color: hsl(25, 47%, 15%);
}
.footer .left h5{
    color: hsl(28, 10%, 53%);
}

.footer .right{
    display: flex;
    flex-direction: column;
}
.footer .right span{
    color: hsl(25, 47%, 15%);
    font-size: 18px;
    font-weight:bolder;
    margin-bottom: 5px;
}
.footer .right h5{
    font-size: 18px;
    color: hsl(28, 10%, 53%); 
    font-weight: 200;
}


/* media query */

@media (max-width:375px) {

    
    .container{
        width: 360px;
        height: 100vh;
        background-color: hsl(27, 66%, 92%);
        position: relative;
    }
    .head{
        width: 260px;
        height: 30px;
        background-color: hsl(10, 79%, 65%);
        margin: 30px 10px;
        position: absolute;
        border-radius: 20px;
        padding: 20px;
        color: #fff;
        font-weight: 200;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .head .left h4{
        padding-bottom: 10  px; 
        font-size: 12px; 
        font-weight: 100;
       }
       .container .content{
        background-color: #fff;
        width: 290px;
        height: 400px;
        position: absolute;
        top: 110px;
        left: 18px;
        border-radius: 20px;
    }
    .container .content h2{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 20px;
    }
    .container .days-container{
        display: grid;
        grid-template-columns: repeat(7,30px);
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        column-gap: 5px;
        height: 200px;
    }
    .footer{
        position: absolute;
        top: 400px;
        left: 50px;
        display: flex;
        justify-content: space-between;
        width: 250px;
    }
    .footer .left span{
        
        margin-top: 20px;
        
    }
    .footer .right span{
        
        
        margin-bottom: 20px;
    }
}